@import url("style/header.css");
body {
    background-color: rgb(255, 196, 255);
}
.container img{
    max-width:200px;
    max-height: 100px;
    width:auto;
    height: auto;
}

.h1 {
    color:rgb(85, 255, 0);
}

.h2 {

    color:rgb(42, 165, 149);
    
}